node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build
/uploads
# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

/../generated/prisma
minio_data/.minio.sys/format.json
minio_data/.minio.sys/buckets/.bloomcycle.bin/xl.meta
minio_data/.minio.sys/buckets/.usage-cache.bin/xl.meta
minio_data/.minio.sys/buckets/.usage-cache.bin.bkp/xl.meta
minio_data/.minio.sys/buckets/.usage.json/xl.meta
minio_data/.minio.sys/buckets/reader-uploads/.metadata.bin/xl.meta
minio_data/.minio.sys/buckets/reader-uploads/.usage-cache.bin/xl.meta
minio_data/.minio.sys/buckets/reader-uploads/.usage-cache.bin.bkp/xl.meta
minio_data/.minio.sys/config/config.json/xl.meta
minio_data/.minio.sys/config/iam/format.json/xl.meta
minio_data/.minio.sys/pool.bin/xl.meta
minio_data/.minio.sys/tmp/0dfa6650-ed25-4e1f-9f1a-1533efe5bf60
minio_data/.minio.sys/tmp/.trash/0eed3986-80db-4fdc-a13b-9fc644b1d024/xl.meta.bkp
minio_data/.minio.sys/tmp/.trash/0fb6af73-0b41-4b29-bc1b-38fdd0300960/xl.meta.bkp
minio_data/.minio.sys/tmp/.trash/133a89b6-e37a-491b-8363-f4d56f73f67b/xl.meta.bkp
minio_data/.minio.sys/tmp/.trash/2aa7cf37-fc08-4e8e-9a53-9e4030e240ba/xl.meta.bkp
minio_data/.minio.sys/tmp/.trash/30ab4a07-491b-4ff8-a963-35c847de6f6b/xl.meta.bkp
minio_data/.minio.sys/tmp/.trash/3b4022b9-f8c1-4e69-b62b-d14a624b23ea/xl.meta.bkp
minio_data/.minio.sys/tmp/.trash/3b7fdc2f-5d8d-4486-8b99-7190d6cd4bca/xl.meta.bkp
minio_data/.minio.sys/tmp/.trash/3de9cd71-a612-4f9e-a8da-bfa983b97293/xl.meta.bkp
minio_data/.minio.sys/tmp/.trash/6604ee34-842f-430c-87bb-3eb3092127ad/xl.meta.bkp
minio_data/.minio.sys/tmp/.trash/6746ebf1-3a74-410a-ba7f-1fad23c355cc/xl.meta.bkp
minio_data/.minio.sys/tmp/.trash/6991aee4-e3f0-409b-b53e-5276be9003bf/xl.meta.bkp
minio_data/.minio.sys/tmp/.trash/718a9fab-5794-4fcb-a25f-3f3e063f33dc/xl.meta.bkp
minio_data/.minio.sys/tmp/.trash/79639a4a-9fd0-47aa-8d2c-9a73ab2d6899/xl.meta.bkp
minio_data/.minio.sys/tmp/.trash/7d47ee26-2dea-457e-a8df-c7ac3bffe4b6/xl.meta.bkp
minio_data/.minio.sys/tmp/.trash/9ec89b18-79e3-4a1b-a88a-11aff4287fcf/xl.meta.bkp
minio_data/.minio.sys/tmp/.trash/af15f738-67b5-493a-9b57-ef53812ee84a/xl.meta.bkp
minio_data/.minio.sys/tmp/.trash/b19d4670-8ba0-463a-b726-f67b8c175a17/xl.meta.bkp
minio_data/.minio.sys/tmp/.trash/bf979257-e9b6-4bc9-9e40-4086f937b036/xl.meta.bkp
minio_data/.minio.sys/tmp/.trash/d083186c-6f55-47f5-a1c5-5bf0a3c56bc1/xl.meta.bkp
minio_data/.minio.sys/tmp/.trash/d12d95c3-a584-4b2c-8118-be8e33123ffc/xl.meta.bkp
minio_data/.minio.sys/tmp/.trash/d57618a7-1eed-4b34-8f87-2a39dc2aff56/xl.meta.bkp
minio_data/.minio.sys/tmp/.trash/d9749cec-ab69-4952-b5f8-b8905b94b4a6/xl.meta.bkp
minio_data/.minio.sys/tmp/.trash/eed48d83-6484-45fd-8604-98728927d91a/xl.meta.bkp
minio_data/.minio.sys/tmp/.trash/fb5dd2a5-2ca7-4f02-b1ce-20c500ca978c/xl.meta.bkp
minio_data/reader-uploads/109617c87b6ea16232c2fefc6e49deeb31949d73a274491b1b560a618c909d7a.epub/xl.meta
minio_data/reader-uploads/109617c87b6ea16232c2fefc6e49deeb31949d73a274491b1b560a618c909d7a.epub/e5d024b3-9f15-4cd1-a14f-fb88caba1685/part.1
upload/test_book.epub
